html, body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f7fb;
    color: #333;
}


.nav {
    background: cornflowerblue;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav h1 {
    color: white;
    margin: 0;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.nav a:hover {
    text-decoration: underline;
}


.content {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 20px;
}


.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.card {
    width: 250px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.card h3 {
    color: cornflowerblue;
    margin-top: 10px;
}


.card-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}


.footer {
    background: cornflowerblue;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}


#results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 250px;
    padding: 10px;
    background: white;
    border: 1px solid lightgray;
    text-align: center;
    border-radius: 10px;
}


#map {
    height: 500px;
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
}